html, body {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  display: flex;
}

.container{
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#root{
  height: inherit;
  width: 100%;
}

.loading-indicator:before {
  content: '';
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.9;
}

.loading-indicator:after {
  content: 'Carregando...';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:#2B76D2;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}

.App {
  overflow: hidden;
  height: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
